@media (min-width:768px){
  
  .header_top{
    height: 42px;
  }

  .header_botom{
    height: 130px;
  }

  #Home{
    height: 590px;
  }

  #about_us{
    height: 542px;
  }

  #our_approch{
    height: 1407px;
  }

  #our_work{
    height: 867px;
  }

  #form{
    height: 848px;
  }
  
  .footer_top{
    height: 489px;
  }

  .footer_bottom{
    height: 67px;
  }

  .logo{
    transform: scale(1);
  }
  
  .menu__btn {
    display: none; 
  }
  #menu__toggle{
      display: none;
  }

  .menu__box {
    display: flex;
    position: relative;
    visibility: visible;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    background-color: inherit;
    box-shadow: none;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
  .free_consultation{
    color: #fff ;
    border-radius: 7px;
    }
  .menu__item:hover {
    background-color: inherit;
  }    
  .free_consultation:hover{
    background-color: #de2b24;
    color: #fff;
    transform: scale(1.05);
    }

  /* HERO */

  .hero__wraper a{
    height: 69px;
    width: 330px;
    font-size: 23px;
  
  }

  /* ABOUT US */

  .title_about_us{
    margin: 102px 0 45px 0;
  }

  

  /* OUR APPROCH */

.our_approch__wraper{
  max-width: 1025px;
  max-height: 100%;
}

.title_our_approch{
  margin: 90px 0 45px 0;
}

.section_title{
  margin:0;
}

.our_approch__content{
  margin-bottom: 92px;
}

.our_approch__content__item{
  height: 236px;
  flex-direction: row;
  margin-bottom: 40px;
  text-align: start;
}

.our_approch__img{
  flex-grow: 1;
}

.our_approch__red_box{
    top: 28%;
    right: -50px;
    width: 100px;
    height: 100px;
}

.our_approch__content__item__text{
  max-height: 236px;
  min-height: 236px;
  flex-grow: 2;
}

.our_approch__content__item__text__wraper{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 50px 70px;
}

.our_approch__content__item__text__wraper p{
  padding: 0px;
  margin: 0;
  width: 520px;
  height: 58px;
}


.our_approch__red_box h3{
    font-size: 60px;
}

.our_approch__red_box p:nth-child(-n+2){
    font-size: 21px;
    line-height: 25px;
}

.our_approch__red_box p{
  line-height: 7px;
}

 .reverse{
  flex-direction: row-reverse;
  text-align: end;
 }

 .right{
  top: 28%;
  left: -50px;
 }

 /* OR WORK */
.our_work__wraper{
  max-width: 1025px;
  max-height: 100%;
}

 .title_our_work{
  margin-top: 108px;
 }

 .our_work_content{
  margin: 47px 0 128px 0;
}

.row_reverse{
  flex-direction: row;
}


.description{
flex-wrap: nowrap;
width: 100%;
}
.descriprion__item__text p{
max-width: inherit;
}

.project_name{
  width: 255px;
  height: 253px;
}

.project_name h4, .project_name p{
  font-size: 26px;
}

.project_name p{
  font-size: 16px;
}

.project_name i{
  font-size: 36px;
  color: #fff;
  opacity: 0.5;
}

.img_wraper {
  width: 255px;
  height: 253px;
}

.img_wraper img{
  width: 255px;
  height: 253px;
}

  /* FORM */

  .title_form{
    margin-top: 95px;
  }
  .form__content{
    width: 680px;
    height: 450px;
    margin-bottom: 110px;
}
input{
   width: 400px;
}

.red_circle{
  position: absolute;
  top: -22.5px;
  right: -22.5px;
  width: 45px;
  height: 45px;
  border: 2px solid #ffffff;
  background-color: #de2b24;
  border-radius: 50%;
  
}

  .red_circle span,
.red_circle span::before{
  position: absolute;
  top: 50%;
  left: 30%;
  height: 3px;
  width: 20px;
  background-color: #fff;

}
.red_circle span{
  transform: rotate(45deg) translate(-1px, -1px);
}

.red_circle  span::before {
content: '';
transform: rotate(90deg) translate(-2px, 6px);;
}

/* FOOTER */

.footer__title{
  margin-top: 90px;
  margin-bottom: 0;
}

.social{
  margin-top: 30px;
}

.footer_top__wraper p{
  margin-top: 38px;
  margin-bottom: 0;
}

.footer_top__wraper input{
  width: 683px;
  height: 54px;
  margin-top: 30px;
}

.footer_top__wraper button{
  width: 149px;
  height: 49px;
  margin-top: 30px;
  margin-bottom: 85px;
}

.footer_bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: #515151;
}

.footer_bottom p{
  color: #cecece;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
}